// Local ViMOP deployment configuration. Generated 2026-10-04.
params {
    database_defaults.base = '/data/databases/vimop/v1.0.6'
    min_cpus = 24
    min_ram_gb = 80
    min_disk_space_work_gb = 100
    min_disk_space_out_gb = 10
    download_db_min_disk_space_work_gb = 100
    download_db_min_disk_space_home_gb = 100
    download_db_min_ram_gb = 16
}

workDir = '/data/work/vimop'

process {
    executor = 'local'
    maxForks = 24
}

docker {
    enabled = true
    runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
}

trace {
    enabled = true
    file = '/gemini/pipelines/vimop/output/trace.tsv'
}
